input[type=text] {
    /* width: 100%; */
}

input[type=checkbox] {
    height: 19px;
    width: 19px;
}

#checkbox {
    margin: 4px;
}

label, input {
    margin: 1px 4px 4px 4px;
}

#submit {
    margin: 4px;
    padding: 8px;
    background: rgba(0, 128, 0, 0.7);
    cursor: default;
    border-radius: 5px;
    border: 1px solid gray;
}

#submit:hover {
    background: rgba(0, 128, 0, 1);
}

#close-button {
    margin: 4px;
    padding: 8px;
    cursor: default;
    border-radius: 5px;
    border: 1px solid gray;
    background: #d3a15f;
}

#close-button:hover {
    background: rgba(255, 0, 0, 0.4);
}


.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 6px;
    justify-content: center;
}

.card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    border: gray 1px solid;
    white-space: pre-wrap;
    padding: 4px;
    width: 164px;
    margin: 6px 4px 6px 4px;
    /* margin-right: 8px; */
    /* margin-bottom: 12px; */
    line-height: 2;
    /* background-image: url("mark.svg");
    background-position: right top;
    background-repeat: no-repeat; */
    
}

.popup {
    position: absolute;
    top: 105px;
    right: 8px;
    background: burlywood;
    border: solid;
    border-width: 0 1px 1px 1px;
}

#open-button {
    position: absolute;
    top: 9px;
    right: 9px;
    background: burlywood;
    padding: 0 8px 0 8px;
}

#open-button:hover {
    background: #d3a15f;
}

nav {
    height: 96px;
    background: burlywood;
    display: flex;
    border: black solid 1px;
}

#form {
    width: 300px;
    background: burlywood;
}

#add-book {
    display: flex;
    flex-direction: column;
}

.welcome {
    font-size: 1em;
    font-weight: bold;
    display: flex;
    align-items: center;
    line-height: 2;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 8px;
}

.read {
    margin-bottom: 4px;
}

::placeholder {
    color: red;
    opacity: 1;
}